# Task 1   SIRSS1062     SHAIK RAHULPASHA

# 01

In [1]:
row=0
while row<=5:
    for col in range(0,5-row):
        print(5,end=' ')
    print(end='\n')
    row+=1

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

# 02

In [9]:
row1=0
while row1<5:
    for col1 in range(0,5-row1+1):
        print(col1,end=' ')
    print(end='\n')
    row1+=1

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

# 03

In [21]:
row_num=1
row=1
while row<=5:
    col_num=row_num
    for col in range(0,row):
        print(col_num,end=' ')
    print(end='\n')
        
    row_num+=2
    row+=1

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

# 04

In [11]:
row=1

while row<=5:
    col=row
    while col>=1:
        print(col,end=' ')
        col-=1
    print(end='\n')
    
    row+=1

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

# 05

In [22]:
row=1
num=0
while row<5:
    col=row
    num+=row
    while col>=1:
        print(num,end=' ')
        col-=1
        num-=1
    print(end='\n')
    num+=row
    
    row+=1

1
3 2
6 5 4
10 9 8 7

# 06

In [106]:
n = 7
for i in range(1, n+1): 
    num = 1
    for j in range(1, i+1): 
        print(' ', num, sep='', end='')
        num = num * (i - j) // j 

    print()

 1
 1 1
 1 2 1
 1 3 3 1
 1 4 6 4 1
 1 5 10 10 5 1
 1 6 15 20 15 6 1

# 07

In [107]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, rows + 1):
        if j <= i:
            print(i, end=' ')
        else:
            print(j, end=' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

# 08

In [108]:
rows = 8
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        sqr = i * j
        print(i * j, end='  ')
    print()

1
2  4
3  6  9
4  8  12  16
5  10  15  20  25
6  12  18  24  30  36
7  14  21  28  35  42  49
8  16  24  32  40  48  56  64

# 09

In [60]:
k=6
z=1

print("\n")
while k>=1:
    m=k
    zz=z
    print("\t",end=' ')
    while z>=1:
        print(' ',end=' ')
        z-=1
    
    while m>=1:
        
        print("*",end='  ')
        m-=1
        
    print(end='\n')
    
    k-=1
    z=zz+1

	   *  *  *  *  *  *
	     *  *  *  *  *
	       *  *  *  *
	         *  *  *
	           *  *
	             *

# 10

In [39]:
k=1
z=6

print("\n")
while k<=8:
    m=k

    zz=z
    print("\t",end='')
    while z>=0:
        print(end=' ')
        z-=1
    
    while m>1:
        
        print("*",end='  ')
        m-=1
        
    print(end='\n')
    
    k+=1
    z=zz-1

	      *
	     *  *
	    *  *  *
	   *  *  *  *
	  *  *  *  *  *
	 *  *  *  *  *  *
	*  *  *  *  *  *  *

# 11

In [5]:
k=1
z=6

print("\n")
while k<=8:
    m=k

    zz=z
    print("\t",end=' ')
  
    
    while m>2:
        
        print("*",end='  ')
        m-=1
        
    print(end='\n')
    
    k+=1
    z=zz-1
    
k=6    
z=1

k=6
z=1

print("\n")
while k>=1:
    m=k
    zz=z
    print("\t",end=' ')
    
    
    while m>=1:
        
        print("*",end='  ')
        m-=1
        
    print(end='\n')
    
    k-=1
    z=zz+1

	 *
	 *  *
	 *  *  *
	 *  *  *  *
	 *  *  *  *  *
	 *  *  *  *  *  *


	 *  *  *  *  *  *
	 *  *  *  *  *
	 *  *  *  *
	 *  *  *
	 *  *
	 *

# 12

In [30]:
row=1
while row<=9:
    if row<=5:
        col=row
        temp=row
        while col>=1:
            print('* ',end='')
            col-=1
        if temp==5:
            print()
            for j in range(0,4):
                print("* ",end='')
    else:
        col=9-row
        while col>=1:
            print("* ",end='')
            col-=1
    print()
    row+=1

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# 13

In [54]:
row=5
while row>=1:
    col=row-1
    while col>=1:
        print('  ',end='')
        col-=1
    stars=5-(row-1)
    while stars>=1:
        print("* ",end='')
        stars-=1
    print()
    row-=1
row=4
while row>=1:
    col=4-row+1
    while col>=1:
        print('  ',end='')
        col-=1
    stars=row
    while stars>=1:
        print("*",end=' ')
        stars-=1
    print()
    row-=1

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

# 14

In [98]:
k=5
z=1

print("\n")
while k>=1:
    m=k
    zz=z
    print("\t",end='')
    while z>=1:
        print('',end=' ')
        z-=1
    
    while m>=1:
        
        print("*",end=' ')
        m-=1
        
    print()
    
    k-=1
    z=zz+1
k=2
z=6

while k<=6:
    m=k

    zz=z
    print("     ",end=' ')
    while z>=0:
        print(' ',end='')
        z-=1
    
    while m>1:
        
        print("*",end=' ')
        m-=1
        
    print(end='\n')
    
    k+=1
    z=zz-1

	 * * * * *
	  * * * *
	   * * *
	    * *
	     *
             *
            * *
           * * *
          * * * *
         * * * * *

# 15

In [ ]:
row = 14
print("*" * rows, end="\n")
i = (rows // 2)
i-=1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2